/*Global styles*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
*::-webkit-scrollbar
{
    display: none;
}
/*Non-global styles*/
body
{
    background-color: #01201c;
    -webkit-font-smoothing: antialiased;
}
div.header
{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: #22222291;
    backdrop-filter: blur(15px);
    width: 100%;
    height: 20vh;
}
div.header a[href="./index.html"]
{
    text-decoration: none;
    transition: 0.7s cubic-bezier(0.86, 0, 0.07, 1);
}
div.header a[href="./index.html"]:hover
{
    transform: scale(1.14);
}
div.header a[href="./index.html"] span.text
{
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 39px;
    font-weight: 400;
    text-transform: lowercase;
    font-family: 'Alata', sans-serif;
}
/*Chevron animation styles*/
span.ac-ln-menucta-chevron
{
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  transform: scale(1.14);
}
span.ac-ln-menucta-chevron::before, 
span.ac-ln-menucta-chevron::after 
{
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    width: 11px;
    height: 1px;
    z-index: 1;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    background: #f1f4f4;
}
span.ac-ln-menucta-chevron::before 
{
    transform-origin: 100% 100%;
    transform: rotate(40deg) scaleY(1.1);
    right: 50%;
    border-radius: 0.5px 0 0 0.5px;
}
span.ac-ln-menucta-chevron::after 
{
    transform-origin: 0% 100%;
    transform: rotate(-40deg) scaleY(1.1);
    left: 50%;
    border-radius: 0 0.5px 0.5px 0;
}
span.ac-ln-menucta-chevron.open::before  
{
    transform-origin: 100% 0%;
    transform: rotate(-40deg) scaleY(1.1);
}
span.ac-ln-menucta-chevron.open::after 
{
    transform-origin: 0% 0%;
    transform: rotate(40deg) scaleY(1.1);
}
/*Megamenu styles*/
ul.menu
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    top: 16vh;
    left: 52.25%;
    background-color: #1d1d1fb6;
    backdrop-filter: blur(15px);
    border: 3px solid #4ca2cd;
    opacity: 0;
    border-radius: 50px;
    width: 0px;
    height: 0px;
    transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
}
ul.menu li
{
    list-style: none;
}
ul.menu li a
{
    text-decoration: none;
    color: #dae3e5;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
}
ul.menu li a:hover
{
    box-shadow: inset 0 6px 0 0 #cce5eb;
    color: #cce5eb;
}
span.ac-ln-menucta-chevron:focus ul.menu
{
    opacity: 1;
    width: 300px;
    height: 325px;
}